@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gothic+A1&display=swap');

/*Minimal CSS Reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/*Minimal CSS Reset End*/

/*Global Styles*/


  /*Placeholder*/
  :root {
    --placeblack: #000;
    --placecour : "courier,sans-serif";
}
/*Placeholder End*/

:root{
    --white: #f6f8f6;
    --black: #333;
    --dgrey: #424242;
    --lgrey: #6c6c6c;
    --helvetica : "helvetica, sans-serif";
    --cutivemono : "Cutive Mono", monospace;
    --gothic: "Gothic A1", sans-serif;
  }


/*Global Styles End*/